@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first_heading {
  font-family: SF Pro Display;
  font-weight: 600;
  text-align: center;
}

/* Navbar */
ul {
  list-style: none;
}

.logo {
  width: 90px;
  height: 90px;
  margin-right: -23px;
  margin-bottom: -9px;
  transition: 0.15s ease-in-out;
}

.logo:hover {
  padding: 6px;
}

.navbar-collapse {
  margin: 13px 10px;
}

.nav-item {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 30px;
}

.fontsize1 {
  font-size: 25px;
}

.fontsize2 {
  font-size: 22px;
}

.heading {
  color: #1048d3;
}

.hero-section {
  height: 90vh;
  height: 90vh;
  /* background: linear-gradient(
    178.1deg,
    #042f9d 19.12%,
    rgb(0 87 204 / 89%) 50.4%,
    rgb(35 165 255 / 89%) 108.94%
  ); */
  /* Improved gradient */
  background: linear-gradient(90deg, #0DD2FB 0%, #50C1FA 51%, #51EFFD 92%, #51EFFD 100%);
  position: relative;
  top: 0px;
  position: relative;
  top: 0px;
}

.navbar-collapse {
  height: auto;
  /* Auto allows the navbar to expand correctly */
  margin: 13px 10px;
  transition: height 0.3s ease;
  /* Optional smooth transition */
}

.logo {
  width: 90px;
  height: 90px;
  margin-right: -23px;
  margin-bottom: -9px;
  transition: 0.15s ease-in-out;
}

.logo:hover {
  padding: 6px;
}

.navbar-collapse {
  margin: 13px 10px;
}

.nav-item {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 30px;
}

.nav-link:hover {
  color: rgb(119 112 112) !important;
}

.welcome-text {
  font-family: 'Roboto', sans-serif;
}

.notesidea-text {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.welcome {
  color: rgb(5, 21, 113);
  font-family: Roboto;
  font-size: 63px;
}

.welcomedesc {
  color: rgb(5, 21, 113);
  font-family: Roboto;
  font-weight: Medium;
  width: 53vw;
  font-size: 29px;
}

.getstarted {
  background-color: red;
  background-image: linear-gradient(45deg, #080892, #05768d);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: "Nunito Sans", sans-serif;
  font-size: 61px;
  width: max-content;
}

.getstartedp {
  font-size: 23px;
  font-family: "IBM Plex Sans", sans-serif;
}

.footeritem {
  display: flex;
  justify-content: space-between;
}


.curve-gradient {
  background: no-repeat bottom left;
  width: 100%;
}

/* Second section */
.second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blob {
  background: url("../images/blob.svg") no-repeat;
  height: 168%;
  width: 77%;
  position: relative;
  bottom: 362px;
  left: 272px;
}

.whycoolnotesheading {
  font-size: 45px;
  font-weight: 700;
  margin: 36px 53px;
}

.notesillustration {
  width: 31%;
  margin-left: 29px;
  position: relative;
}

.points {
  display: flex;
  align-items: center;
  margin: 10px 45px;
}

.pointimgparent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  box-shadow: -2.358276844024658px 17.68707847595215px 35px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.pointimg {
  height: 90%;
  width: 90%;
}

.pointheading {
  font-size: 30px;
  margin: 10px 15px;
}

/*  */
.v178_289 {
  width: 732px;
  height: 67px;
  /* background: url("../images/v178_289.png"); */
  background-color: aqua;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 668px;
  left: 74px;
  overflow: hidden;
}

.v175_187 {
  width: 648px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 50px;
  left: 84px;
  font-family: Capriola;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}

.v178_284 {
  width: 67px;
  height: 67px;
  /* background: url("../images/v178_284.png"); */
  background-color: bisque;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 0px;
  overflow: hidden;
}

.v178_288 {
  width: 775px;
  height: 67px;
  /* background: url("../images/v178_288.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 749px;
  left: 74px;
  overflow: hidden;
}

.v175_185 {
  width: 691px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 54px;
  left: 84px;
  font-family: Capriola;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}

.v178_282 {
  width: 67px;
  height: 67px;
  /* background: url("../images/v178_282.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  overflow: hidden;
}

.v178_283 {
  width: 67px;
  height: 67px;
  /* background: url("../images/v178_283.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 652px;
  left: 74px;
  overflow: hidden;
}

.v175_192 {
  width: 547px;
  height: 401px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 884px;
  left: 23px;
  overflow: hidden;
}

.v175_193 {
  width: 157px;
  height: 140px;
  background: rgba(63, 61, 86, 1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 54px;
}

.v175_194 {
  width: 61px;
  height: 16px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 26px;
}

.v175_195 {
  width: 61px;
  height: 16px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 24px;
}

.v175_196 {
  width: 26px;
  height: 28px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 57px;
}

.v175_197 {
  width: 91px;
  height: 22px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 50px;
}

.v175_198 {
  width: 91px;
  height: 22px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 48px;
}

.v175_199 {
  width: 91px;
  height: 22px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 46px;
}

.v175_200 {
  width: 91px;
  height: 22px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 217px;
  left: 43px;
}

.v175_201 {
  width: 91px;
  height: 22px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 41px;
}

.v175_202 {
  width: 67px;
  height: 30px;
  background: rgba(255, 184, 184, 1);
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 9px;
}

.v175_203 {
  width: 39px;
  height: 82px;
  background: rgba(255, 184, 184, 1);
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 67px;
}

.v175_204 {
  width: 28px;
  height: 33px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 163px;
  left: 53px;
}

.v175_205 {
  width: 13px;
  height: 34px;
  background: rgba(255, 184, 184, 1);
  opacity: 1;
  position: absolute;
  top: 356px;
  left: 5px;
}

.v175_206 {
  width: 29px;
  height: 11px;
  background: rgba(47, 46, 65, 1);
  opacity: 1;
  position: absolute;
  top: 388px;
  left: 2px;
}

.v175_207 {
  width: 13px;
  height: 34px;
  background: rgba(255, 184, 184, 1);
  opacity: 1;
  position: absolute;
  top: 356px;
  left: 47px;
}

.v175_208 {
  width: 29px;
  height: 11px;
  background: rgba(47, 46, 65, 1);
  opacity: 1;
  position: absolute;
  top: 388px;
  left: 49px;
}

.v175_209 {
  width: 72px;
  height: 121px;
  background: rgba(47, 46, 65, 1);
  opacity: 1;
  position: absolute;
  top: 255px;
  left: 52px;
}

.v175_210 {
  width: 36px;
  height: 36px;
  background: rgba(255, 184, 184, 1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 34px;
}

.v175_211 {
  width: 61px;
  height: 112px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 48px;
}

.v175_212 {
  width: 27px;
  height: 33px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 165px;
  left: 3px;
}

.v175_213 {
  width: 47px;
  height: 41px;
  background: rgba(47, 46, 65, 1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 40px;
}

.v175_214 {
  width: 140px;
  height: 118px;
  background: rgba(63, 61, 86, 1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 102px;
}

.v175_215 {
  width: 62px;
  height: 3px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 156px;
}

.v175_216 {
  width: 62px;
  height: 3px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 156px;
}

.v175_217 {
  width: 22px;
  height: 25px;
  background: rgba(63, 61, 86, 1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 126px;
}

.v175_218 {
  width: 93px;
  height: 3px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 125px;
}

.v175_219 {
  width: 93px;
  height: 3px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 125px;
}

.v175_220 {
  width: 93px;
  height: 3px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 125px;
}

.v175_221 {
  width: 93px;
  height: 3px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 125px;
}

.v175_222 {
  width: 93px;
  height: 3px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 125px;
}

.v175_223 {
  width: 72px;
  height: 19px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 136px;
}

.v175_224 {
  width: 140px;
  height: 118px;
  background: rgba(63, 61, 86, 1);
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 269px;
}

.v175_225 {
  width: 62px;
  height: 3px;
  background: rgba(63, 61, 86, 1);
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 323px;
}

.v175_226 {
  width: 62px;
  height: 3px;
  background: rgba(63, 61, 86, 1);
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 323px;
}

.v175_227 {
  width: 22px;
  height: 25px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 144px;
  left: 293px;
}

.v175_228 {
  width: 22px;
  height: 16px;
  background: rgba(63, 61, 86, 1);
  opacity: 1;
  position: absolute;
  top: 209px;
  left: 363px;
}

.v175_229 {
  width: 93px;
  height: 3px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 292px;
}

.v175_230 {
  width: 93px;
  height: 3px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 292px;
}

.v175_231 {
  width: 93px;
  height: 3px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 292px;
}

.v175_232 {
  width: 46px;
  height: 3px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 211px;
  left: 292px;
}

.v175_233 {
  width: 46px;
  height: 3px;
  background: rgba(204, 204, 204, 1);
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 292px;
}

.v175_234 {
  width: 72px;
  height: 19px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 115px;
  left: 303px;
}

.v175_235 {
  width: 284px;
  height: 1px;
  background: rgba(63, 61, 86, 1);
  opacity: 1;
  position: absolute;
  top: 399px;
  left: 1px;
}

.v175_236 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 66px;
}

.v175_237 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 66px;
}

.v175_238 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 66px;
}

.v175_239 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 66px;
}

.v175_240 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 50px;
}

.v175_241 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 50px;
}

.v175_242 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 50px;
}

.v175_243 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 50px;
}

.v175_244 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 30px;
}

.v175_245 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 30px;
}

.v175_246 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 30px;
}

.v175_247 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 30px;
}

.v175_248 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 10px;
}

.v175_249 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 10px;
}

.v175_250 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 10px;
}

.v175_251 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 10px;
}

.v175_252 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 10px;
}

.v175_253 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 10px;
}

.v175_254 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 10px;
}

.v175_255 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 10px;
}

.v175_256 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 30px;
}

.v175_257 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 30px;
}

.v175_258 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 30px;
}

.v175_259 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 30px;
}

.v175_260 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 304px;
}

.v175_261 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 304px;
}

.v175_262 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 304px;
}

.v175_263 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 324px;
}

.v175_264 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 324px;
}

.v175_265 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 324px;
}

.v175_266 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 344px;
}

.v175_267 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 344px;
}

.v175_268 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 344px;
}

.v175_269 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 364px;
}

.v175_270 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 364px;
}

.v175_271 {
  width: 9px;
  height: 9px;
  background: rgba(242, 242, 242, 1);
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 364px;
}

.v118_2 {
  width: 100%;
  height: 134px;
  /* background: url("../images/v118_2.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 572px;
  left: 37px;
  overflow: hidden;
}

.v118_3 {
  width: 100%;
  height: 101px;
  background: rgba(151, 201, 243, 1);
  opacity: 0.25;
  position: relative;
  top: 0px;
  left: 0px;
}

.v118_4 {
  width: 100%;
  height: 122px;
  background: rgba(151, 201, 243, 1);
  opacity: 0.5;
  position: relative;
  top: 0px;
  left: 0px;
}

.v118_5 {
  width: 100%;
  height: 101px;
  background: rgba(151, 201, 243, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}

.custom-shape-divider-bottom-1640966291 {
  position: absolute;
  bottom: -63px;
  left: -1px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1640966291 svg {
  position: relative;
  display: block;
  width: calc(106% + 1.3px);
  height: 138px;
}

.custom-shape-divider-bottom-1640966291 .shape-fill {
  fill: #ffffff;
}

/* second wave */
.custom-shape-divider-bottom-1640970012 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1640970012 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1640970012 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1643471356 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1643471356 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 87px;
}

.wave {
  position: absolute;
  bottom: 0;
}

.custom-shape-divider-bottom-1643471356 .shape-fill {
  fill: #ffffff;
}

@media (max-width: 768px) {
  .welcome {
    font-weight: bolder;
  }

  .welcomedesc {
    width: 100%;
    font-size: 2rem;
    width: 53vw;
  }

  .welcomeheading {
    width: 93vw;
  }

  .rightside {
    margin: 0 -68px;
  }

  .second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .notesillustration {
    width: 69%;
    position: relative;
    margin-top: 46px;
  }

  .points {
    flex-direction: column;
  }

  .pointheading {
    font-size: 27px;
  }

  .whycoolnotesheading {
    color: #1048d3;
    font-size: 2.5rem !important;
    height: max-content;
    width: max-content;
  }

  .footeritem {
    flex-direction: column;
  }

  .registercard {
    margin: 0 4rem !important;
  }
}